* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #ccc;
}

.groceries-header {
  margin: 1rem;
  text-align: center;
}

.groceries-list h1 {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.form-input,
.form_input-submit,
.button-cart {
  margin: 0 0.25em 0.5em 0;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #000;
  background-color: #fff;
}

.form_input-submit,
.button-cart {
  cursor: pointer;
}

.list-item,
.cart-item {
  list-style-type: none;
}

.list-item:nth-child(odd),
.cart-item:nth-child(odd) {
  background: green;
}

.list-item:nth-child(even),
.cart-item:nth-child(even) {
  background: red;
}
